<link rel="stylesheet" href="{{ 'section-text-with-icons.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-text-with-icons.css' | asset_url | stylesheet_tag }}</noscript>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-{{ section.id }}-padding svg {
    width: {{ section.settings.iconwidth }}px;
    height: {{ section.settings.iconwidth }}px;
  }
{%- endstyle -%}
<div class="aldstore-iconbox section-{{ section.id }}-padding">
<div class="container">
  <div class="iconbox-animated">
    {% for block in section.blocks %}
      <div>
          {% render 'icon-allservice', icon: block.settings.icon1 %}
          <strong>{{ block.settings.title }}</strong>
          <span>{{ block.settings.text }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="iconbox-animated">
    {% for block in section.blocks %}
      <div>
          <span>
            {% render 'icon-allservice', icon: block.settings.icon1 %}
          </span>
          <strong>{{ block.settings.title }}</strong>
          <span>{{ block.settings.text }}</span>
      </div>
    {% endfor %}
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Text with icons",
    "tag": "section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "range",
        "id": "iconwidth",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Icon width",
        "default": 20,
        "info": "This option work only on desktop view"
      }, 
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, 
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 15
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 15
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "text with icon",
        "settings": [
          {
            "type": "select",
            "id": "icon1",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "shipping",
                "label": "Free shipping"
              },
              {
                "value": "support",
                "label": "Support 24/7"
              }, 
              {
                "value": "payment",
                "label": "Payment"
              },
              {
                "value": "offers",
                "label": "Special offers"
              }
            ],
            "default": "shipping",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
          }, 
          {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "t:sections.multicolumn.blocks.column.settings.title.label"
          }, 
          {
            "type": "text",
            "id": "text",
            "default": "Content description",
            "label": "t:sections.multicolumn.blocks.column.settings.text.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text with icons",
        "blocks": [
          {
            "type": "image"
          }, 
          {
            "type": "image"
          }, 
          {
            "type": "image"
          }, 
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}